.Rproj.user
*.DS_Store
*.Rhistory
packrat/lib*/
*lib*
*.html
*.tex
data/derived-data/flora/GCFR_spp_2018-08-10/
data/derived-data/flora/SWAFR_spp_2018-08-10/
data/derived-data/flora/GCFR_spp_2018-08-14/
data/derived-data/flora/SWAFR_spp_2018-08-14/
outputs/species-and-roughness/*.RDS
*_cache
